.sidebar {
    margin-top: 3em;
}

ul.flashes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.flashes li {
    margin: 0.5em 0;
}

h1, h2, h3, h4 {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
}

ul.dslist {
    list-style-type: none;
}
.seprow {
    min-height: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.upload_meta {
    margin: 0.5em 0;
}

.dsmeta {
    font-style: italic;
}

ul.dsacl {
    list-style-type: none;
}
ul.dsacl li {
    height: 2em;
    padding: 0.2em 0;
    margin: 0.3em;
    line-height: 2em;
}

.sidemeta {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

span.index_task_meta {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

span.index_task_role:before {
    content: "("
}
span.index_task_role:after {
    content: ")"
}
span.index_task_role {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

a.btn .fa-2x {
    margin-top: -1em;
}

#anno_actions {
    margin: 0 auto;
}

#anno_actions .btn {
    height: 3em;
    line-height: 2em;
}
.sampletext {
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background: #f3f9ff;
    padding: 1em;
}

li.singleprogress {
    height: 10px !important;
    padding: 1em 0;
    margin: 1em auto auto 10% !important;
    width: auto;
}
div.annoprogress {
    height: 0.7em;
    padding: 0;
    margin: -2em 0 1em 0;
}

i.aclusericon {
    margin-top: 0.5em;
}

span.acluserowner {
    font-weight: bold;
    font-style: italic;
    color: gray;
}

table.dataframe {
    width: 100%;
    max-height: 40em;
    overflow: scroll;
    display: block;
}

th {
    border-color: #ecf2ff;
    color: #07517e;
}
table {
    border-color: #ecf2ff;
}
tr, td {
    border-color: #b4cbfe;
}
tr:nth-child(even) {
    background: #e4f1fd;
}

table.dataframe tbody td {
    max-height: 2em;
    overflow-y: scroll;
}

.tdwrap {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
	position: relative;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	min-width: 0;
	margin-bottom: 0;
}

.custom-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin: 0;
	border: 1px solid rgb(206, 212, 218)
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin: 0;
	opacity: 0;
}

#inputGroupFileAddon02 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.0;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

ul.dfissues {
}

ul.dfissues li {
    margin: 0.5em;
}

ul.dfissues li.badge {
    font-size: 12pt;
}

div.dsnamecol {
    line-height: 2em;
}

.ds_field_error {
    color: #ff3649;
    font-style: italic;
}

ul.ds_overview_issues {
    list-style-type: none;
    margin: 0 0 0 auto;
    padding: 0;
}

ul.ds_overview_issues li {
    float: left;
    margin: 0 0 0 1em;
    padding: 0.2em;
    font-size: 10pt;
}

.ds_overview_label {
    font-size: 12pt;
}

ul.dslist .ds_meta {
    background: white;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #cadce8;
}

div.seprow form {
    width: 100%;
}

.ds_new_field_error {
    margin: 0;
    padding: 0.1em;
}

label {
    line-height: 1.5em;
    padding: 0.2em 0.5em;
}

.ds_actions_toolbar {
    margin-top: 0;
    margin-bottom: 2em;
}

select.taskdef_select {
    min-width: 50%;
}

div.dataset_inspect_metadata {
    margin-bottom: 1em;
    padding: 0;
    background: #ebf4ff;
    border-radius: 3px;
}
div.dataset_inspect_metadata {
    padding: 0.5em 0 0 0;
}

span.dataset_inspect_meta_label {
    font-style: italic;
    min-width: 4rem;
    display: inline-block;
}

span.dataset_inspect_meta_value {
}

.ds_highlight {
    color: #ec0b0b;
}

span.badge-sm {
    font-size: 0.8em;
}

a.nav-taskinfo {
}
a.nav-taskinfo-completed {
    color: gray !important;
    font-style: italic;
}

.btn-primary {
    background-color: #f5f5f5;
    color: #424242;
}
.btn-secondary {
    background-color: #424242;
    color: #f5f5f5;
}

a {
    color: #424242;
}

.btn-flat-primary, .btn-flat-primary:active, .btn-flat-primary:focus, .btn-flat-primary:hover, .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover {
    color: #576ab3;
}

a:hover {
    color: #576ab3;
}

a.with_anno_vote {
    padding-right: 30px;
}

span.anno_vote {
    position: absolute;
    top: 1px;
    right: 5px;
}

.index_taskicon {
    margin-right: 0.8em;
    color: #3e6a80;
}

button.btn-ds-description {
    position: absolute;
    right: 0;
}

footer {
    border-top: 1px solid #85abdb;
    width: 100%;
    margin: 5em 0 1em 0;
    padding: 0.5em 0 0 0;
    color: #3e5271;
}

footer a {
    color: #3e5271;
}

div.df_pagination {
}

div.df_pagination a {
    color: #205482;
}

div.df_pagination a:hover {
    color: #424242;
}

.nav-active-task {
    /* background-color: #ebf1f9;*/
    background-color: #4a4a4d;
    padding-bottom: 0;
}

.nav-link.nav-taskinfo.active {
    margin-bottom: 0;
    border-top: 1px solid #163b64;
    border-bottom: 1px solid #163b64;
    color: white;
}

li.nav-active-task div.sideprogress {
    padding: 0;
    margin: 0;
}
li.nav-active-task div.sideprogress-active {
    padding: 0;
    margin: 0;
}

.nav-active-task-data {
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    background: #4a4a4d;
    color: #ebf1f9;
    width: 100%;
    display: block;
    border-left: 0.5rem solid #5c646f;
    height: auto;
}

.nav-active-task-data strong {
    min-width: 5rem;
    display: inline-block;
}

.ajax-loading img {
    height: 2em;
}

.tagcolor_red {
    background-color: #ff8880;
    color: black;
}
.tagcolor_green {
    background-color: #70E3AF;
    color: black;
}
.tagcolor_blue {
    background-color: #95B5FF;
    color: black;
}
.tagcolor_yellow {
    background-color: #F9F088;
    color: black;
}
.tagcolor_gray {
    background-color: #E0E0E0;
    color: black;
}

.tagcolor_active_red {
    background-color: #ff8880;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #e64646;
}
.tagcolor_active_green {
    background-color: #70E3AF;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #29d329;
}
.tagcolor_active_blue {
    background-color: #95B5FF;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #2e5fd3;
}
.tagcolor_active {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: black;
}
.tagcolor_active_yellow {
    background-color: #F9F088;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #d79b0f;
}
.tagcolor_active_gray {
    background-color: #E0E0E0;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: gray;
}
.tag_current_choice {
    border-bottom: 5px solid black;
}

.df_inspect_overview {
    margin-bottom: 1em;
}

.df_overview_collapse {
    margin: 0;
    padding: 0;
}

.slim-card-header {
    margin: 0;
    padding: 0;
}


