:root {
    --layout_bg_minimal: rgb(249, 249, 249);
    --layout_minimal_border: rgb(189, 189, 189);
    
    --theme_fg_link: #424242;
    --theme_fg_link_hover: black;
    --theme_bg_link: white;
    --theme_fg_primary: #576ab3;
    --theme_fg_primary_hover: #424242;
    --theme_bg_primary: #f2f2f2;
    --theme_fg_secondary: #f5f5f5;
    --theme_bg_secondary: #5c6482;
    --theme_bg_error: #ff3649;
    --theme_fg_dataset_highlight: #ec0b0b;
    --theme_border_footer: #85abdb;
    --theme_fg_footer: #3e5271;
    --theme_bg_nav_active: #4a4a4d;
    --theme_bg_nav_active_accent: #5c646f;
    --theme_bg_nav_active_border: #163b64;
    --theme_fg_nav_active: #ebf1f9;

    --theme_input_border: rgb(206, 212, 218);
    --theme_table_accent: #ecf2ff;
    --theme_table_accent_alt: #b4cbfe;
    --theme_table_accent_row: #e4f1fd;
    --theme_table_header_fg: #07517e;

    --tag_border_size: 0 0 5px 0;
    --tag_border_active_inverted: black;
    --tag_border_active: white;
    --tag_fg_color: black;
    --tag_fg_color_inverted: white;
    
    --tag_accent_opacity: 0.7;

    --tag_color_white: 255, 255, 255;
    --tag_color_orange: 255, 159, 64;
    --tag_color_red: 255, 99, 132;
    --tag_color_green: 75, 192, 192;
    --tag_color_blue: 54, 162, 235;
    --tag_color_yellow: 255, 205, 86;
    --tag_color_gray: 201, 203, 207;

    --palette_aliceblue: rgb(240,248,255);
    --palette_aqua: rgb(0,255,255);
    --palette_aquamarine: rgb(127,255,212);
    --palette_azure: rgb(240,255,255);
    --palette_beige: rgb(245,245,220);
    --palette_bisque: rgb(255,228,196);
    --palette_black: rgb(0,0,0);
    --palette_blanchedalmond: rgb(255,235,205);
    --palette_blue: rgb(0,0,255);
    --palette_blueviolet: rgb(138,43,226);
    --palette_brown: rgb(165,42,42);
    --palette_burlywood: rgb(222,184,135);
    --palette_cadetblue: rgb(95,158,160);
    --palette_chartreuse: rgb(127,255,0);
    --palette_chocolate: rgb(210,105,30);
    --palette_coral: rgb(255,127,80);
    --palette_cornflowerblue: rgb(100,149,237);
    --palette_cornsilk: rgb(255,248,220);
    --palette_crimson: rgb(220,20,60);
    --palette_cyan: rgb(0,255,255);
    --palette_darkblue: rgb(0,0,139);
    --palette_darkcyan: rgb(0,139,139);
    --palette_darkgoldenrod: rgb(184,134,11);
    --palette_darkgray: rgb(169,169,169);
    --palette_darkgreen: rgb(0,100,0);
    --palette_darkgrey: rgb(169,169,169);
    --palette_darkkhaki: rgb(189,183,107);
    --palette_darkmagenta: rgb(139,0,139);
    --palette_darkolivegreen: rgb(85,107,47);
    --palette_darkorange: rgb(255,140,0);
    --palette_darkorchid: rgb(153,50,204);
    --palette_darkred: rgb(139,0,0);
    --palette_darksalmon: rgb(233,150,122);
    --palette_darkseagreen: rgb(143,188,143);
    --palette_darkslateblue: rgb(72,61,139);
    --palette_darkslategray: rgb(47,79,79);
    --palette_darkslategrey: rgb(47,79,79);
    --palette_darkturquoise: rgb(0,206,209);
    --palette_darkviolet: rgb(148,0,211);
    --palette_deeppink: rgb(255,20,147);
    --palette_deepskyblue: rgb(0,191,255);
    --palette_dimgray: rgb(105,105,105);
    --palette_dimgrey: rgb(105,105,105);
    --palette_dodgerblue: rgb(30,144,255);
    --palette_firebrick: rgb(178,34,34);
    --palette_forestgreen: rgb(34,139,34);
    --palette_fuchsia: rgb(255,0,255);
    --palette_gainsboro: rgb(220,220,220);
    --palette_gold: rgb(255,215,0);
    --palette_goldenrod: rgb(218,165,32);
    --palette_gray: rgb(128,128,128);
    --palette_green: rgb(0,128,0);
    --palette_greenyellow: rgb(173,255,47);
    --palette_grey: rgb(128,128,128);
    --palette_honeydew: rgb(240,255,240);
    --palette_hotpink: rgb(255,105,180);
    --palette_indianred: rgb(205,92,92);
    --palette_indigo: rgb(75,0,130);
    --palette_ivory: rgb(255,255,240);
    --palette_khaki: rgb(240,230,140);
    --palette_lavender: rgb(230,230,250);
    --palette_lavenderblush: rgb(255,240,245);
    --palette_lawngreen: rgb(124,252,0);
    --palette_lemonchiffon: rgb(255,250,205);
    --palette_lightblue: rgb(173,216,230);
    --palette_lightcoral: rgb(240,128,128);
    --palette_lightcyan: rgb(224,255,255);
    --palette_lightgoldenrodyellow: rgb(250,250,210);
    --palette_lightgray: rgb(211,211,211);
    --palette_lightgreen: rgb(144,238,144);
    --palette_lightgrey: rgb(211,211,211);
    --palette_lightpink: rgb(255,182,193);
    --palette_lightsalmon: rgb(255,160,122);
    --palette_lightseagreen: rgb(32,178,170);
    --palette_lightskyblue: rgb(135,206,250);
    --palette_lightslategray: rgb(119,136,153);
    --palette_lightslategrey: rgb(119,136,153);
    --palette_lightsteelblue: rgb(176,196,222);
    --palette_lightyellow: rgb(255,255,224);
    --palette_lime: rgb(0,255,0);
    --palette_limegreen: rgb(50,205,50);
    --palette_linen: rgb(250,240,230);
    --palette_magenta: rgb(255,0,255);
    --palette_maroon: rgb(128,0,0);
    --palette_mediumaquamarine: rgb(102,205,170);
    --palette_mediumblue: rgb(0,0,205);
    --palette_mediumorchid: rgb(186,85,211);
    --palette_mediumpurple: rgb(147,112,219);
    --palette_mediumseagreen: rgb(60,179,113);
    --palette_mediumslateblue: rgb(123,104,238);
    --palette_mediumspringgreen: rgb(0,250,154);
    --palette_mediumturquoise: rgb(72,209,204);
    --palette_mediumvioletred: rgb(199,21,133);
    --palette_midnightblue: rgb(25,25,112);
    --palette_mintcream: rgb(245,255,250);
    --palette_mistyrose: rgb(255,228,225);
    --palette_moccasin: rgb(255,228,181);
    --palette_navy: rgb(0,0,128);
    --palette_oldlace: rgb(253,245,230);
    --palette_olive: rgb(128,128,0);
    --palette_olivedrab: rgb(107,142,35);
    --palette_orange: rgb(255,165,0);
    --palette_orangered: rgb(255,69,0);
    --palette_orchid: rgb(218,112,214);
    --palette_palegoldenrod: rgb(238,232,170);
    --palette_palegreen: rgb(152,251,152);
    --palette_paleturquoise: rgb(175,238,238);
    --palette_palevioletred: rgb(219,112,147);
    --palette_papayawhip: rgb(255,239,213);
    --palette_peachpuff: rgb(255,218,185);
    --palette_peru: rgb(205,133,63);
    --palette_pink: rgb(255,192,203);
    --palette_plum: rgb(221,160,221);
    --palette_powderblue: rgb(176,224,230);
    --palette_purple: rgb(128,0,128);
    --palette_rebeccapurple: rgb(102,51,153);
    --palette_red: rgb(255,0,0);
    --palette_rosybrown: rgb(188,143,143);
    --palette_royalblue: rgb(65,105,225);
    --palette_saddlebrown: rgb(139,69,19);
    --palette_salmon: rgb(250,128,114);
    --palette_sandybrown: rgb(244,164,96);
    --palette_seagreen: rgb(46,139,87);
    --palette_seashell: rgb(255,245,238);
    --palette_sienna: rgb(160,82,45);
    --palette_silver: rgb(192,192,192);
    --palette_skyblue: rgb(135,206,235);
    --palette_slateblue: rgb(106,90,205);
    --palette_slategray: rgb(112,128,144);
    --palette_slategrey: rgb(112,128,144);
    --palette_snow: rgb(255,250,250);
    --palette_springgreen: rgb(0,255,127);
    --palette_steelblue: rgb(70,130,180);
    --palette_tan: rgb(210,180,140);
    --palette_teal: rgb(0,128,128);
    --palette_thistle: rgb(216,191,216);
    --palette_tomato: rgb(255,99,71);
    --palette_turquoise: rgb(64,224,208);
    --palette_violet: rgb(238,130,238);
    --palette_wheat: rgb(245,222,179);
    --palette_yellow: rgb(255,255,0);
    --palette_yellowgreen: rgb(154,205,50);
}

#anno_actions
{
    margin:0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#anno_actions > .btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

.d-flex-row {
    flex-flow: row;
}
@media screen and (max-width: 990px) {
    .d-flex-row {
        flex-direction: column;
    }
}
.btn-group-vertical {
    flex-direction: column !important;
    position: relative;
    left: 0;
    margin-bottom: 3em;
    align-self: self-start;
}

#anno_actions .btn
{
  height: auto;
  padding-bottom: 0.3rem;
  line-height:2em;
}


.sidebar {
    margin-top: 3em;
}

.sidebar-compact {
	position: fixed;
    top: 48px;
    margin-top: -.5rem;
    width: 100%;
    padding-top: .5rem;
    overflow: hidden;
	left: 0;
	z-index: 99;
	padding: 0;
    margin-bottom: auto;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: var(--layout_minimal_border);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-compact > .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.d-hidden {
    display: none !important;
}

.sidebar .nav-link.active {
    background-color: var(--theme_bg_nav_active);
    color: var(--theme_fg_nav_active);
}
.sidebar .nav-link.active:hover {
    background-color: var(--theme_bg_nav_active_accent);
    color: var(--theme_fg_nav_active);
}

ul.flashes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.flashes li {
    margin: 0.5em 0;
}

h1, h2, h3, h4 {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
}

ul.dslist {
    list-style-type: none;
}
.seprow {
    min-height: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.upload_meta {
    margin: 0.5em 0;
}

.dsmeta {
    font-style: italic;
}

ul.dsacl {
    list-style-type: none;
}
ul.dsacl li {
    height: 2em;
    padding: 0.2em 0;
    margin: 0.3em;
    line-height: 2em;
}

.sidemeta {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

span.index_task_meta {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

span.index_task_role:before {
    content: "("
}
span.index_task_role:after {
    content: ")"
}
span.index_task_role {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

a.btn .fa-2x {
    margin-top: -1em;
}

.sampletext {
    font-size: 2em;
    border-radius: 5px;
    border: 1px solid var(--layout_minimal_border);
    background: var(--layout_bg_minimal);
    padding: 1em;
    margin: 0 1em;
}

li.singleprogress {
    height: 10px !important;
    padding: 1em 0;
    margin: 1em auto auto 10% !important;
    width: auto;
}
div.annoprogress {
    height: 0.7em;
    padding: 0;
    margin: -2em 0 1em 0;
}

i.aclusericon {
    margin-top: 0.5em;
}

span.acluserowner {
    font-weight: bold;
    font-style: italic;
    color: gray;
}

table.dataframe {
    width: 100%;
    max-height: 40em;
    overflow: scroll;
    display: block;
}

th {
    border-color: var(--theme_table_accent);
}
table {
    border-color: var(--theme_table_accent);
}
tr, td {
    border-color: var(--theme_table_accent_alt);
}
tr:nth-child(even) {
    background: var(--theme_table_accent_row);
    border-color: var(--theme_table_accent);
}

table.dataframe tbody td {
    max-height: 2em;
    overflow-y: scroll;
}

.tdwrap {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
	position: relative;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	min-width: 0;
	margin-bottom: 0;
}

.custom-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin: 0;
	border: 1px solid var(--theme_input_border);
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin: 0;
	opacity: 0;
}

ul.dfissues {
}

ul.dfissues li {
    margin: 0.5em;
}

ul.dfissues li.badge {
    font-size: 12pt;
}

div.dsnamecol {
    line-height: 2em;
}

.ds_field_error {
    color: var(--theme_bg_error);
    font-style: italic;
}

ul.ds_overview_issues {
    list-style-type: none;
    margin: 0 0 0 auto;
    padding: 0;
}

ul.ds_overview_issues li {
    float: left;
    margin: 0 0 0 1em;
    padding: 0.2em;
    font-size: 10pt;
}

.ds_overview_label {
    font-size: 12pt;
    display: flex;
    align-self: center;
}

.ds_overview_label > a {
    width: 100%;
}

ul.dslist .ds_meta {
    background: white;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--theme_table_accent);
}

div.seprow form {
    width: 100%;
}

.ds_new_field_error {
    margin: 0;
    padding: 0.1em;
}

label {
    line-height: 1.5em;
    padding: 0.2em 0.5em;
}

.ds_actions_toolbar {
    margin-top: 0;
    margin-bottom: 2em;
}

select.taskdef_select {
    min-width: 50%;
}

span.dataset_inspect_meta_label {
    font-style: italic;
    min-width: 6rem;
    display: inline-block;
}

span.dataset_inspect_meta_value {
}

.ds_highlight {
    color: var(--theme_fg_dataset_highlight);
}

span.badge-sm {
    font-size: 0.8em;
}

a.nav-taskinfo {
}
a.nav-taskinfo-completed {
    color: gray !important;
    font-style: italic;
}

.btn-primary {
    background-color: var(--theme_bg_primary);
    color: var(--theme_fg_primary);
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: var(--theme_fg_primary_hover);
}
.btn-link {
    color: var(--theme_fg_link);
}
.btn-link:active, .btn-link:focus, .btn-link:hover {
    color: var(--theme_fg_link_hover);
}

.btn-secondary {
    background-color: var(--theme_bg_secondary);
    color: var(--theme_fg_secondary);
}

a {
    color: var(--theme_fg_link);
}

a:hover {
    color: var(--theme_fg_link_hover);
}

.btn-flat-primary, .btn-flat-primary:active, .btn-flat-primary:focus, .btn-flat-primary:hover, .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover {
    color: var(--theme_fg_primary);
}

.with_anno_vote {
    padding-right: 30px;
}

span.anno_vote {
    position: absolute;
    top: 1px;
    right: 5px;
}

.index_taskicon {
    margin-right: 0.8em;
    color: var(--theme_fg_primary);
}

button.btn-ds-description {
    position: absolute;
    right: 0;
}

footer {
    border-top: 1px solid var(--theme_border_footer);
    color: var(--theme_fg_footer);
    display: flex;
    justify-content: end;
    margin: 5em 0 1em 0;
    padding: 0.5em 0 0 0;
    width: 100%;
}

footer a {
    color: var(--theme_fg_link);
}

div.df_pagination {
}

div.df_pagination a {
    color: var(--theme_fg_link);
}

div.df_pagination a:hover {
    color: var(--theme_fg_link_hover);
}

.nav-active-task {
    background-color: var(--theme_bg_nav_active);
    padding-bottom: 0;
}

.nav-link.nav-taskinfo.active {
    margin-bottom: 0;
    background-color: var(--theme_bg_nav_active);
    border-top: 1px solid var(--theme_bg_nav_active_border);
    border-bottom: 1px solid var(--theme_bg_nav_active_border);
    color: var(--theme_fg_nav_active);
}

li.nav-active-task div.sideprogress {
    padding: 0;
    margin: 0;
}
li.nav-active-task div.sideprogress-active {
    padding: 0;
    margin: 0;
}

.nav-active-task-data {
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    background: var(--theme_bg_nav_active);
    color: var(--theme_fg_nav_active);
    width: 100%;
    display: block;
    border-left: 0.5rem solid var(--theme_bg_nav_active_accent);
    height: auto;
}

.nav-active-task-data strong {
    min-width: 5rem;
    display: inline-block;
}

.ajax-loading img {
    height: 2em;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_white {
    background-color: rgba(var(--tag_color_white), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_orange {
    background-color: rgba(var(--tag_color_orange), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_red {
    background-color: rgba(var(--tag_color_red), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_green {
    background-color: rgba(var(--tag_color_green), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_blue {
    background-color: rgba(var(--tag_color_blue), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_yellow {
    background-color: rgba(var(--tag_color_yellow), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}
.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover.tagcolor_gray {
    background-color: rgba(var(--tag_color_gray), var(--tag_accent_opacity));
    color: var(--tag_fg_color);
}

.tagcolor_white {
    background-color: rgb(var(--tag_color_white));
    color: var(--tag_fg_color);
}
.tagcolor_orange {
    background-color: rgb(var(--tag_color_orange));
    color: var(--tag_fg_color);
}
.tagcolor_red {
    background-color: rgb(var(--tag_color_red));
    color: var(--tag_fg_color);
}
.tagcolor_green {
    background-color: rgb(var(--tag_color_green));
    color: var(--tag_fg_color);
}
.tagcolor_blue {
    background-color: rgb(var(--tag_color_blue));
    color: var(--tag_fg_color);
}
.tagcolor_yellow {
    background-color: rgb(var(--tag_color_yellow));
    color: var(--tag_fg_color);
}
.tagcolor_gray {
    background-color: rgb(var(--tag_color_gray));
    color: var(--tag_fg_color);
}

.tagcolor_active_white {
    background-color: rgb(var(--tag_color_white));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active_inverted);
}
.tagcolor_active_orange {
    background-color: rgb(var(--tag_color_orange));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tagcolor_active_red {
    background-color: rgb(var(--tag_color_red));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tagcolor_active_green {
    background-color: rgb(var(--tag_color_green));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tagcolor_active_blue {
    background-color: rgb(var(--tag_color_blue));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tagcolor_active_yellow {
    background-color: rgb(var(--tag_color_yellow));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tagcolor_active_gray {
    background-color: rgb(var(--tag_color_gray));
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active);
}
.tag_current_choice {
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active_inverted);
}
.tagcolor_active {
    background-color: white;
    color: var(--tag_fg_color);
    border-style: solid;
    border-width: var(--tag_border_size);
    border-color: var(--tag_border_active_inverted);
}

.df_inspect_overview {
    margin-bottom: 2em;
}

.df_overview_collapse {
    margin: 0;
    padding: 0;
}

.slim-card-header {
    margin: 0;
    padding: 0;
}

.df_inspect_changebtn {
    min-width: 4rem !important;
    width: 80%;
}

.df_inspect_table_entrynum {
    min-width: 2rem;
    padding-left: 1em;
    flex-shrink: 1;
    flex-grow: 0;
}


.df_inspect_col_content {
    display: flex;
    flex-grow: 1;
    margin-bottom: 1em;
    flex-direction: column;
}

.inspect_tageditor_actions {
    display: flex;
    margin-bottom: 0.5em;

    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
}

.inspect_tageditor_actions .btn {
    flex-grow: 1;
}

.inspect_tageditor_actions .dropdown-toggle-split {
    flex-grow: 1;
    min-width: 2em;
}

.df_inspect_table_row {
    padding: 0.5em 0 0.3em 0;
    margin-bottom: 0.2em;
    min-height: 2.5em;
    border-bottom: 1px solid black;
    display: flex;
}

.df_inspect_table_row:nth-child(even) {
    background: var(--layout_bg_minimal);
}

.df_inspect_header.df_inspect_textcol {
    font-weight: bold;
    flex-grow: 10;
    flex-shrink: 0;
}
.df_inspect_table_row > .df_inspect_textcol {
    flex-grow: 10;
    flex-shrink: 0;
}

.df_inspect_userannos {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: start;
}

.df_inspect_userannos > .btn {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
}

.df_inspect_idcol {
    width: 10%;
    padding: 0 1em;
}

.df_inspect_votebtn {
    padding: 0.3em;
}

.sample_metadata {
    font-style: italic;
    font-size: 0.8em;
}

.df_inspect_tagselect {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: end;
}

.df_inspect_note {
    font-size: 0.9em;
    text-style: italic;
}

/* section for materialdesignicons.com */
h2 {
  margin: 15px 0 10px 0;
}

h3 {
  font-size: 1.2em;
}

.alert.mdi::before {
  margin: 0 3px 0 -3px;
}

.btn.mdi:not(:empty)::before {
  margin: 0 3px 0 -3px;
}

.breadcrumb-item a.mdi::before, .breadcrumb-item span.mdi::before {
  margin: 0 2px 0 -2px;
}

.dropdown-item.mdi::before {
  margin: 0 8px 0 -10px;
}

.list-group-item.mdi::before {
  margin: 0 6px 0 -6px;
}

.modal-title.mdi::before {
  margin: 0 4px 0 0;
}

.nav-link.mdi::before {
  margin: 0 4px 0 -4px;
}

.navbar-brand.mdi::before {
  margin: 0 4px 0 0;
}

.popover-title.mdi::before {
  margin: 0 4px 0 -4px;
}

.btn.mdi-chevron-up.collapsed::before {
  content: '\f140';
}

.bd-example-popover-static {
  padding-bottom: 1.5rem;
  background-color: #f9f9f9;
}

.bd-example-popover-static .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 0.75rem;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
/*    top: 4px;*/
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
/* /section for materialdesignicons.com */
