{% extends "layout.html" %}
{% block body %}
<h1>Annotate &quot;<span class="annometa">{{ task.name }}</span>&quot; </h1>

<div class="progress annoprogress">
    <div class="progress-bar" role="progressbar" style="width: {{task.progress}}%"></div>
</div>

<div class="row">
<div id="anno_actions">
    {% if dataset.dsmetadata.size > 0 and sample_idx > 0 %}
    <a id="anno_nav_prev"class="btn btn-outline-secondary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=sample_idx - 1) }}">
        <i class="fas fa-2x fa-arrow-left"></i>
    </a>
{% endif %}
    {% if dataset.dsmetadata.size > 0 and sample_idx == 0 %}
    <a id="anno_nav_prev" class="btn btn-outline-secondary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=dataset.dsmetadata.size - 1) }}">
        <i class="fas fa-2x fa-arrow-left"></i>
    </a>
{% endif %}

{% for tag in dataset.dsmetadata.taglist %}
{% if dataset.dsmetadata.size > 0 and sample_idx < (dataset.dsmetadata.size - 1) %}
<a data-tagidx="{{loop.index - 1}}" class="btn btn{% if tag != curanno %}-outline{% endif %}-primary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=sample_idx + 1, set_sample_idx=sample_idx, set_value=tag) }}">
{% endif %}
{% if dataset.dsmetadata.size > 0 and sample_idx == (dataset.dsmetadata.size - 1) %}
<a data-tagidx="{{loop.index - 1}}" class="btn btn{% if tag != curanno %}-outline{% endif %}-primary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=0, set_sample_idx=sample_idx, set_value=tag) }}">
{% endif %}
{{ tag }}
</a>
{% else %}
ERROR: no taglist
{% endfor %}

{% if dataset.dsmetadata.size > 0 and sample_idx < (dataset.dsmetadata.size - 1) %}
<a id="anno_nav_next" class="btn btn-outline-secondary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=sample_idx + 1) }}">
    <i class="fas fa-2x fa-arrow-right"></i>
</a>
{% endif %}
{% if dataset.dsmetadata.size > 0 and sample_idx == (dataset.dsmetadata.size - 1) %}
<a id="anno_nav_next" class="btn btn-outline-secondary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=0) }}">
    <i class="fas fa-2x fa-arrow-right"></i>
</a>
{% endif %}

<a id="anno_nav_random" class="btn btn-outline-secondary" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=random_sample) }}">
    <i class="fas fa-2x fa-random"></i>
</a>

</div>
</div>

<br />
<div class="row">
<blockquote class="sampletext col-md-10 offset-md-1">
    {{sample_content}}
</blockquote>
</div>

<br />
<br />

{% endblock %}

{% block addscript %}
    <script>
        $(document).ready(function() {

            document.addEventListener("keydown", event => {
                if (event.isComposing || event.keyCode === 229) {
                    return;
                }
                console.log("kbd", event);
                let $tgtid = null;

                if (event.key === "ArrowRight") {
                    $tgtid = 'anno_nav_next';
                }
                if (event.key === "ArrowLeft") {
                    $tgtid = 'anno_nav_prev';
                }
                if (event.key === "R" || event.key === "r") {
                    $tgtid = 'anno_nav_random';
                }
                let $tgtbtn = null;
                if ($tgtid) {
                    $tgtbtn = $("#" + $tgtid);
                }
                if (event.keyCode > 48 && event.keyCode <= 57) {
                    let tagoffset = event.keyCode - 48 - 1;
                    let tagcount = {{ dataset.dsmetadata.taglist|length }};
                    if (tagoffset < tagcount) {
                        $("a.btn").each(function() {
                            let $this = $(this);
                            if ($this.data("tagidx") == tagoffset) {
                                $tgtbtn = $(this);
                            }
                        });
                    }
                }
                if ($tgtbtn && $tgtbtn[0]) { 
                    $tgtbtn[0].click();
                }
            });

        });
    </script>
{% endblock %}
