{% if not macros %}
{% import "macros.html" as macros with context %}
{% include "flash.html" with context %}
{% endif %}
{{ macros.render_progress(task, addclass="annoprogress") }}

{% if all_done %}
<div class="row">
<div class="d-flex col-12">
    <h3>Task complete!<h3>
</div>
</div>

<div class="row">
<div class="d-flex col-12">
    You have completely annotated this dataset or work package.</div>
</div>
</div>
{% else %}

<br />
<div class="row d-flex-row">
    <div class="sample_content_container">
        <div class="sample_content_tagbtns">
            <div class="btn-group" id="anno_actions">
                {% if sample_prev %}
                <a id="anno_nav_prev"class="btn btn-info btn-lg" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=sample_prev) }}" title="skip (previous)">
                    <i class="mdi mdi-arrow-left"></i>
                </a>
                {% endif %}
                {% if sample_next %}
                <a id="anno_nav_next" class="btn btn-info btn-lg" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=sample_next) }}" title="skip (next)">
                    <i class="mdi mdi-arrow-right"></i>
                </a>
                {% endif %}
            </div>

            {% set add_classes = "btn-group-vertical" %}
            {{ macros.render_tag_buttons(dataset, sample_next, votes, add_classes=add_classes) }}
        </div>

        <div class="sample_content_view">
            {% if additional_content %}
            <blockquote class="sample_additional_content">
                <strong>{{additional_content_field}}</strong>
                <span>{{ additional_content }}</span>
            </blockquote>
            {% endif %}
            <blockquote class="sampletext {% if additional_content %}sampletext_withadditional{% else %}sampletext_noadditional{% endif %}">
                <strong>sample</strong>
                <span>
                {{(sample.content|escape|trim).replace('\n', '<br>'|safe)}}
                </span>
            </blockquote>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <span class="sample_metadata">ID: {{sample.sample}}</span>
        {% if sample.split_id %}
        &nbsp;
        <span class="sample_metadata">WP: {{sample.split_id}}</span>
        {% endif %}

    </div>
</div>

{% endif %}

<br />
<br />
