{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h1 class="col-12">Create User</h1>
</div>

{% if feature_user_invite and feature_user_manualcreate %}
<div class="row">
    <div class="col-12" style="margin-bottom: 3em">
        You can create a user account by sharing an invitation (preferred method) or manually
        specifying full account details below.<br />
    </div>
</div>
{% endif %}

{% if not feature_user_invite and not feature_user_manualcreate %}
<div class="row">
    <div class="col-12" style="margin-bottom: 3em">
        User creation is disabled. Please ask your administrator to create accounts.
    </div>
</div>
{% endif %}

{% if feature_user_invite %}
<div class="row">
    <div class="col-12">
        <h3>Account Creation via Invitation</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">Use the button below to generate unique invitation links. Note that these links:
        <ul>
            <li>Expire in 48 hours.</li>
            <li>Are one time use. Please create one link per account.</li>
        </ul>
    </div>
</div>
<div class="row">
        <div class="col-4">
            <button id="generateInvite" class="btn btn-success">Generate invite link</button>
        </div>
        <div class="col-8">
            <div class="input-group">
                <input id="inviteLink" name="inviteLink" autocomplete="off" type="text" class="form-control" readonly="readonly" placeholder="click the button to generate an invitation"> 
                <div class="input-group-append">
                    <button class="input-group-text btn btn-primary" id="copyInvite" autocomplete="off" title="Copy to Clipboard" disabled="disabled">
                        <i class="mdi mdi-clipboard-multiple-outline"></i>
                    </button>
                </div>
            </div>
        </div>
</div>
<div class="createuser_invite_row"></div>
<hr />
{% endif %}
{% if feature_user_manualcreate %}
<div class="row">
    <div class="col-12">
        <h3>Manual Account Creation</h3>
    </div>
</div>
<div class="row">
    <div class="col-12" style="margin-bottom: 2em;">Note that the user is not notified automatically.<br />
        Please share the account details with them after creating an account.<br />
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% include "form_createuser.html" with context %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block addscript %}
<script>
    window.OMEN_BASE = "{{ url_for("index") }}";
</script>
<script src="{{ url_for("static", filename="createuser.js") }}"></script>
{% endblock %}
