{% extends "layout.html" %}
{% block body %}
  <h1>Overview</h1>
  {% if not session['user'] %}
      <p>Authentication required. <a href="{{ url_for('login') }}"><i class="mdi mdi-login"></i> login</a></p>
  {% else %}
  <div class="row">
      <p class="col-12">Welcome back, {{ session_user.get_name() }}! 
      </p>
  </div>
  <div class="row">
      <div class="col-12 col-lg-6">
          <h5>Jump straight back in:</h5>
          <div class="list-group">
            {% for task in tasks %}
            <a class="list-group-item list-group-item-action {% if not task.can_annotate %} disabled{% endif %}" href="{{ url_for('annotate', dsid=task.id) }}" {% if not task.can_annotate %} disabled{% endif %}>
                    {% set task_state_icon = "mdi-checkbox-multiple-blank-outline" %}

                    {% if 'owner' in task.user_roles%}
                        {% set task_state_icon = "mdi-checkbox-blank-outline" %}
                    {% endif %}

                    {% if task.progress and task.progress >= 100.0 %}
                        {% set task_state_icon = "mdi-checkbox-multiple-marked-outline" %}

                        {% if 'owner' in task.user_roles%}
                            {% set task_state_icon = "mdi-checkbox-marked-outline" %}
                        {% endif %}
                    {% endif %}

                    <i class="mdi {{ task_state_icon }}"></i>

                    {{task.name}} <span class="index_task_meta">{{task.annos}}/{{task.size}}</span> 
                    <span class="index_task_role">{{ task.user_roles|join(", ") }}{% if not 'owner' in task.user_roles %}, owned by <i class="fas fa-user"></i> <span class="index_task_dsowner">{{ task.dataset.owner.get_name() }}</span>{% endif %}</span>
                    {% if task.progress >= 100.0 %}<span class="index_task_done badge badge-sm badge-info">all done!</span>{% endif %}
                </a>
                {{ macros.render_progress(task, addclass="indexprogress") }}
            {% else %}
            <a href="#" class="list-group-item">
            You don't seem to have any tasks yet.
            </a>
            {% endfor %}
          </div>
      </div>
      <div class="col-12 col-lg-6">
        <h5>Latest activity:</h5>

{% macro render_activity_target(activity, target) -%}
{% if target %}
    {% set targetlink = "" %}
    {% if target.activity_prefix() == "DATASET:" %}
    {% if dataset_roles and target.dataset_id|string in dataset_roles %}
        {% set target_roles = dataset_roles[target.dataset_id|string] %}
        {% if 'curator' in target_roles %}
            {% set targetlink = url_for("inspect_dataset", dsid=target.dataset_id) %}
        {% elif 'owner' in target_roles %}
            {% set targetlink = url_for("dataset_new", dsid=target.dataset_id) %}
        {% endif %}
    {% endif %}
    {% endif %}

    {% if targetlink %}
        <a class="index_activity_target" href="{{targetlink}}">{{ target.get_name() }}</a>
    {% else %}
        <span class="index_activity_target">{{ target.get_name() }}</span>
    {% endif %}
{% endif %}
{%- endmacro %}
        
        <ul id="index_user_history" class="list-group">
            {% for activity, target in user_history %}
            <li class="list-group-item index_activity">
                <span class="index_activity_timestamp">{{ activity.formatted_create() }}</span>
                {% if activity.owner %}
                <span class="index_activity_owner">
                    {% if activity.owner == session_user %}
                    You
                    {% else %}
                    {{ activity.owner.get_name() }}
                    {% endif %}
                </span>
                {% endif %}
                {% if activity.scope == "uploaded_file" %}
                uploaded a file <span class="index_activity_detail">{{ activity.content }}</span> for dataset {{ render_activity_target(activity, target) }}.
                {% elif activity.scope == "import_complete" %}
                imported data for dataset {{ render_activity_target(activity, target) }} completed. <span class="index_activity_detail">{{ activity.content }}</span>
                {% elif activity.scope == "update_option" %}
                updated configuration for dataset {{ render_activity_target(activity, target) }}.
                {% elif activity.scope == "split_add_annotator" %}
                added annotator for work package in dataset {{ render_activity_target(activity, target) }}: {{ activity.content }}
                {% elif activity.scope == "split_remove_annotator" %}
                removed annotator from work package in dataset {{ render_activity_target(activity, target) }}: {{ activity.content }}
                {% elif activity.scope == "split_edit" %}
                managed work packages for dataset {{ render_activity_target(activity, target) }}.
                {% elif activity.scope == "bulk_action" %}
                curated annotations in dataset {{ render_activity_target(activity, target) }}.
                {% elif activity.scope == "comment_note" %}
                added a private note to {{ render_activity_target(activity, target) }}.
                {% elif activity.scope == "comment_public" %}
                commented on {{ render_activity_target(activity, target) }}: <blockquote class="with_markdown feed_comment">{{ activity.content|trim }}</blockquote>
                {% else %}
                activity (owner: {{activity.owner}}, scope: {{ activity.scope }}, target: {{ target }})
                {% endif %}
            </li>
            {% else %}
                <li class="list-group-item">Nothing to show here yet.</li>
            {% endfor %}
        </ul>
      </div>
  </div>
  {% endif %}
{% endblock %}

{% block addscript %}
{% endblock %}
