{% extends "layout.html" %}
{% block body %}
  <h1>Overview</h1>
  {% if not session['user'] %}
      <p>Authentication required. <a href="{{ url_for('login') }}"><i class="mdi mdi-login"></i> login</a></p>
  {% else %}
  <div class="row">
      <p class="col-12">Welcome back, {{ session_user.get_name() }}! 
      </p>
  </div>
  <div class="row">
      <div class="col-12">
          Jump straight back in:
          <div class="list-group">
            {% for task in tasks %}
            <a class="list-group-item list-group-item-action {% if not task.can_annotate %} disabled{% endif %}" href="{{ url_for('annotate', dsid=task.id) }}" {% if not task.can_annotate %} disabled{% endif %}>
                    {% set task_state_icon = "mdi-checkbox-multiple-blank-outline" %}

                    {% if 'owner' in task.user_roles%}
                        {% set task_state_icon = "mdi-checkbox-blank-outline" %}
                    {% endif %}

                    {% if task.progress and task.progress >= 100.0 %}
                        {% set task_state_icon = "mdi-checkbox-multiple-marked-outline" %}

                        {% if 'owner' in task.user_roles%}
                            {% set task_state_icon = "mdi-checkbox-marked-outline" %}
                        {% endif %}
                    {% endif %}

                    <i class="mdi {{ task_state_icon }}"></i>

                    {{task.name}} <span class="index_task_meta">{{task.annos}}/{{task.size}}</span> 
                    <span class="index_task_role">{{ task.user_roles|join(", ") }}{% if not 'owner' in task.user_roles %}, owned by <i class="fas fa-user"></i> <span class="index_task_dsowner">{{ task.dataset.owner.get_name() }}</span>{% endif %}</span>
                    {% if task.progress >= 100.0 %}<span class="index_task_done badge badge-sm badge-info">all done!</span>{% endif %}
                </a>
                {{ macros.render_progress(task, addclass="indexprogress") }}
            {% else %}
            <a href="#" class="list-group-item">
            You don't seem to have any tasks yet.
            </a>
            {% endfor %}
          </div>
      </div>
  </div>
  {% endif %}
{% endblock %}

{% block addscript %}
{% endblock %}
