{% extends "layout.html" %}
{% block body %}
  <h1>Overview</h1>
  {% if not session['user'] %}
      <p>Authentication required. <a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> login</a></p>
  {% else %}
  <div class="row">
      <p class="col-12">Welcome back, {{ session_user.get_name() }}! 
      <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> logout</a>
      </p>
  </div>
  <div class="row">
      <div class="col-12">
          Jump straight back in:
          <div class="list-group">
            {% for task in tasks %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('annotate', dsid=task.id) }}">
                    <i class="fas fa-database index_taskicon"></i>
                    {{task.name}} <span class="index_task_meta">{{task.annos}}/{{task.size}}</span> 
                    <span class="index_task_role">{% if 'owner' in task.user_roles%}owned by you{% elif 'curator' in task.user_roles %}curator{% elif 'annotator' in task.user_roles %}annotator{% endif %}{% if not 'owner' in task.user_roles %}, owned by <i class="fas fa-user"></i> <span class="index_task_dsowner">{{ task.dataset.owner.get_name() }}</span>{% endif %}
                    </span>
                    {% if task.progress >= 100.0 %}<span class="index_task_done badge badge-sm badge-info">all done!</span>{% endif %}
                </a>
                {{ render_progress(task, addclass="indexprogress") }}
            {% else %}
            <a href="list-group-item">
            You don't seem to have any tasks yet.
            </a>
            {% endfor %}
          </div>
      </div>
  </div>
  {% endif %}
{% endblock %}
