<!doctype html>
<html lang="en">
<head>
    <title>Document Annotation</title>

    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/material.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/material.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="chartjs/2.9.3/Chart.min.css") }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="dashboard.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
</head>
<body>
{% include "navbar.html" with context %}

{% include "macros.html" with context %}

<div class="container-fluid">
<div class="row">

    {% if is_authenticated %}
        {% include "sidebar.html" %}
        {% endif %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="container-fluid justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="row">
    <ul class="flashes col-md-12">
    {% for category, message in messages %}
    <li class="alert alert-{% if category=='error' %}danger{% elif not category or category=='message'%}info{%else%}{{category}}{% endif %}">{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

                {% block body %}{% endblock %}
            </div>

            <footer>Copyright &copy; {{ cur_year }} - <a href="https://github.com/FrankGrimm/omen">OMEN | {{ product_name }} v{{ app_version}}</a>
</footer>
        </main>
</div>
</div> <!-- container -->

<script src="{{ url_for("static", filename="js/jquery-3.5.0.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/fa-5.13.all.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/marked.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/material.min.js") }}"></script>
<script src="{{ url_for("static", filename="chartjs/2.9.3/Chart.bundle.min.js") }}"></script>

<script src="{{ url_for("static", filename="main.js") }}"></script>

                {% block addscript %}{% endblock %}
</body>
</html>
