<!doctype html>
<html lang="en">
<head>
    <title>Document Annotation</title>
    <!-- link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" -->

    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include "navbar.html" %}

{% macro render_progress(task, addclass="") -%}
<div class="progress {{ addclass }}">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{task.progress_beforetoday}}%"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{task.progress_today}}%"></div>
    </div>
{%- endmacro %}

{% macro render_description_modal(modal_id, description, modal_title="Description") -%}
{% if description %}

<div class="modal fade description_modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{modal_id}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body description_modal_text">
          {{ description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{%- endmacro %}

{% macro render_cell(row, column, query) -%}

{% if query is none or not row[column] is string %}
{{ row[column] }}
{% else %}
{{ row[column]|highlight(query) }}
{% endif %}

{%- endmacro %}

{% macro render_dataframe(df, id=None, class=None, maxrows=50, hide_nan=True, query=None) -%}

<table id="{{id}}" class="alert alert-{% if class=='error' %}danger{%else%}{{class}}{% endif %}" border="1">
    <thead>
        <th></th>
        {% for column in df.columns %}
        <th>{{column}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% if df.shape[0] == 0 %}
            <tr>
                <th> </th>
                <td colspan="{{df.shape[1]}}"><i>empty</i></td>
            </tr>
        {% else %}
            {% set showdots = false %}
            {% if maxrows < 0 %}
            {% set maxrows = df.shape[0] %}
            {% endif %}
            {% if maxrows < df.shape[0] %}
                {% set showdots = true %}
            {% endif %}
            {% if showdots %}
                     {% for index, row in df.iterrows() if index < maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}

                    {% if showdots %} 
                    <tr>
                        <th>...</th>
                        <td colspan="{{df.shape[1]}}">...</td>
                    </tr>
                    {% endif %}
                     
                    {% for index, row in df.iterrows() if index > df.shape[0] - maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}
            {% else %}
                {% for index, row in df.iterrows() %}
                <tr>
                    <th>{{index}}</th>
                    {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    </tbody>
</table>

{%- endmacro %}

<div class="container-fluid">
<div class="row">

    {% if is_authenticated %}
        {% include "sidebar.html" %}
        {% endif %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="container-fluid justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="row">
    <ul class="flashes col-md-12">
    {% for category, message in messages %}
    <li class="alert alert-{% if category=='error' %}danger{% elif not category or category=='message'%}info{%else%}{{category}}{% endif %}">{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

                {% block body %}{% endblock %}
            </div>
        </main>
</div>
</div> <!-- container -->

<script src="{{ url_for("static", filename="js/jquery-3.5.0.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/fa-5.13.all.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/marked.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/material.min.js") }}"></script>
<script src="{{ url_for("static", filename="main.js") }}"></script>

                {% block addscript %}{% endblock %}
</body>
</html>
