{% macro render_tag_buttons(dataset, nextsampleidx, votes={}, data_sample='', group_id='', add_classes='') -%}
{% if not dataset.get_option("show_votes", False) %}
{% set votes = {} %}
{% endif %}
<div class="btn-group{% if add_classes != ''%} {{ add_classes }}{% endif %}"{% if group_id != '' %} id="{{ group_id }}"{% endif %}{% if data_sample !='' %} data-sample="{{ data_sample }}"{% endif %}>
{% for tag,tagmetadata in dataset.get_taglist(include_metadata=True).items() %}
    {% set css_colortag = "" %}
    {% set tag_col = tagmetadata.color or "white" %}
    {% if tag_col and tag == curanno %}
        {% set css_colortag = "tagcolor_active_" + tag_col %}
    {% elif tag_col %}
        {% set css_colortag = "tagcolor_" + tag_col %}
    {% endif %}

    {% set css_btnclass = "" %}

    {% set css_votetag = "" %}
    {% if votes and tag in votes and votes[tag]|length %}
        {% set css_votetag = "with_anno_vote" %}
    {% endif %}

    <a data-tagidx="{{loop.index - 1}}" class="btn {{ css_btnclass }} {{ css_votetag }} {{ css_colortag }}" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=nextsampleidx, set_sample_idx=sample_idx, set_value=tag) }}" {% if votes and tag in votes and votes[tag]|length %}title="{{votes[tag]|length}} vote(s) by {{votes[tag]|join(", ")}}"{% endif %}>

    {% if tagmetadata.icon %}<i class="{{ tagmetadata.icon }}"> </i>{% endif %}
    {{ tag }} {% if votes and tag in votes and votes[tag]|length %}<span class="anno_vote badge badge-dark">{{votes[tag]|length}}</span>{% endif %}
    </a>
{% else %}
    ERROR: no tags defined
{% endfor %}
</div>

{%- endmacro %}

{% macro render_progress(task, addclass="") -%}
<div class="progress {{ addclass }}">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{task.progress_beforetoday}}%"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{task.progress_today}}%"></div>
    </div>
{%- endmacro %}

{% macro render_comment_modal(modal_id, target, modal_title="Comments") -%}

<div class="btn btn-light btn-ds-comments" data-toggle="modal" data-target="#dsCommentsModal">
    <i class="mdi mdi-chat-outline"></i> {% if comments|length > 0 %}<span class="badge badge-dark icon-badge" id="comments_counter_badge">{{ comments|length }}</span>{% endif %} <span class="sr-only">comments</span>
</div>

<div class="modal fade comments_modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{modal_id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body comments_modal_text">
          <div class="row">
              <div class="col-12">
                  <div class="ajax-loading" style="display: none;">
                      <img src="{{ url_for("static", filename="img/loading.gif") }}" alt="updating" />
                  </div>
                  <ul class="list-group" id="comment_modal_content">
                      {% include "dataset_comments.html" with context %}
                  </ul>
              </div>
          </div>
          <div class="row">

              <div class="col-12">
                  <textarea id="newcomment" autocomplete="off" name="newcomment" cols="40" rows="1" maxlength="500" class="form-control with-markdown" aria-describedby="newcommentHelpBlock" required="required"></textarea> 

                  <div class="form-group">
                      <select id="newcomment_scope" name="newcomment_scope" autocomplete="off">
                          <option value="comment_public" selected>Add comment</option>
                          <option value="comment_note">Add private note</option>
                      </select>
                      <div class="btn btn-sm disabled" data-target="{% if target and target.activity_target %}{{ target.activity_target() }}{% endif %}" id="newcomment_send">Send</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%- endmacro %}

{% macro render_description_modal(modal_id, description, modal_title="Description") -%}
{% if description %}

<div class="modal fade description_modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{modal_id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body description_modal_text">
          {{ description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{%- endmacro %}

{% macro render_cell(row, column, query) -%}

{% if query is none or not row[column] is string %}
{{ row[column] }}
{% else %}
{{ row[column]|highlight(query) }}
{% endif %}

{%- endmacro %}

{% macro render_dataframe(df, id=None, class=None, maxrows=50, hide_nan=True, query=None) -%}

<table id="{{id}}" class="alert {% if class=='error' %}alert-danger{%else%}{{class}}{% endif %}" border="1">
    <thead>
        <th></th>
        {% for column in df.columns %}
        <th>{{column}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% if df.shape[0] == 0 %}
            <tr>
                <th> </th>
                <td colspan="{{df.shape[1]}}"><i>empty</i></td>
            </tr>
        {% else %}
            {% set showdots = false %}
            {% if maxrows < 0 %}
            {% set maxrows = df.shape[0] %}
            {% endif %}
            {% if maxrows < df.shape[0] %}
                {% set showdots = true %}
            {% endif %}
            {% if showdots %}
                     {% for index, row in df.iterrows() if index < maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}

                    {% if showdots %} 
                    <tr>
                        <th>...</th>
                        <td colspan="{{df.shape[1]}}">...</td>
                    </tr>
                    {% endif %}
                     
                    {% for index, row in df.iterrows() if index > df.shape[0] - maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}
            {% else %}
                {% for index, row in df.iterrows() %}
                <tr>
                    <th>{{index}}</th>
                    {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    </tbody>
</table>

{%- endmacro %}

{% macro render_card_nav(target_id, tab_text, tab_selected=false, tab_disabled=false, icon="") -%}
<li class="nav-item">
    <a class="nav-link tablink {% if tab_selected %}active{% endif %} {% if tab_disabled %}disabled{% endif %}" data-target="#{{ target_id }}" role="tab" aria-controls="{{ tab_text }}" aria-selected="{{ tab_selected }}">
        {% if icon != "" %}
        <i class="mdi mdi-{{icon}}"></i>
        {% endif %}
        {{ tab_text }}
    </a>
</li>
{%- endmacro %}

