
{% macro render_tag_buttons(dataset, nextsampleidx, votes={}, data_sample='', group_id='', add_classes='') -%}
<div class="btn-group{% if add_classes != ''%} {{ add_classes }}{% endif %}"{% if group_id != '' %} id="{{ group_id }}"{% endif %}{% if data_sample !='' %} data-sample="{{ data_sample }}"{% endif %}>
{% for tag,tagmetadata in dataset.get_taglist(include_metadata=True).items() %}
    {% set css_colortag = "" %}
    {% if tagmetadata.color and tag == curanno %}
        {% set css_colortag = "tagcolor_active_" + tagmetadata.color %}
    {% elif tagmetadata.color %}
        {% set css_colortag = "tagcolor_" + tagmetadata.color %}
    {% endif %}

    {% set css_btnclass = "btn-light" %}
    {% if tag == curanno %}
        {% set css_btnclass = "btn-success" %}
        {% if css_colortag == "" %}
        {% set css_colortag = "tagcolor_active" %}
        {% endif %}
    {% endif %}

    {% set css_votetag = "" %}
    {% if votes and tag in votes and votes[tag]|length %}
        {% set css_votetag = "with_anno_vote" %}
    {% endif %}

    <a data-tagidx="{{loop.index - 1}}" class="btn {{ css_btnclass }} {{ css_votetag }} {{ css_colortag }}" href="{{ url_for('annotate', dsid=dataset.dataset_id, sample_idx=nextsampleidx, set_sample_idx=sample_idx, set_value=tag) }}" {% if votes and tag in votes and votes[tag]|length %}title="{{votes[tag]|length}} vote(s) by {{votes[tag]|join(", ")}}"{% endif %}>

    {% if tagmetadata.icon %}<i class="{{ tagmetadata.icon }}"> </i>{% endif %}
    {{ tag }} {% if votes and tag in votes and votes[tag]|length %}<span class="anno_vote badge badge-dark">{{votes[tag]|length}}</span>{% endif %}
    </a>
{% else %}
    ERROR: no tags defined
{% endfor %}
</div>

{%- endmacro %}

{% macro render_progress(task, addclass="") -%}
<div class="progress {{ addclass }}">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{task.progress_beforetoday}}%"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: {{task.progress_today}}%"></div>
    </div>
{%- endmacro %}

{% macro render_description_modal(modal_id, description, modal_title="Description") -%}
{% if description %}

<div class="modal fade description_modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{modal_id}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body description_modal_text">
          {{ description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{%- endmacro %}

{% macro render_cell(row, column, query) -%}

{% if query is none or not row[column] is string %}
{{ row[column] }}
{% else %}
{{ row[column]|highlight(query) }}
{% endif %}

{%- endmacro %}

{% macro render_dataframe(df, id=None, class=None, maxrows=50, hide_nan=True, query=None) -%}

<table id="{{id}}" class="alert alert-{% if class=='error' %}danger{%else%}{{class}}{% endif %}" border="1">
    <thead>
        <th></th>
        {% for column in df.columns %}
        <th>{{column}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% if df.shape[0] == 0 %}
            <tr>
                <th> </th>
                <td colspan="{{df.shape[1]}}"><i>empty</i></td>
            </tr>
        {% else %}
            {% set showdots = false %}
            {% if maxrows < 0 %}
            {% set maxrows = df.shape[0] %}
            {% endif %}
            {% if maxrows < df.shape[0] %}
                {% set showdots = true %}
            {% endif %}
            {% if showdots %}
                     {% for index, row in df.iterrows() if index < maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}

                    {% if showdots %} 
                    <tr>
                        <th>...</th>
                        <td colspan="{{df.shape[1]}}">...</td>
                    </tr>
                    {% endif %}
                     
                    {% for index, row in df.iterrows() if index > df.shape[0] - maxrows / 2 %}
                     <tr>
                         <th>{{index}}</th>
                         {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                         {% endfor %}
                     </tr>
                     {% endfor %}
            {% else %}
                {% for index, row in df.iterrows() %}
                <tr>
                    <th>{{index}}</th>
                    {% for column in df.columns %}
                         <td>
                             {% if not (hide_nans and not row[column].is_na()) %}{{ render_cell(row, column, query) }}{% endif %}
                         </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    </tbody>
</table>

{%- endmacro %}

