{% extends "layout.html" %}
{% block body %}
  <h1>Settings</h1>

  <h3><i class="mdi mdi-account-edit"></i> Change Display Name</h3>

  <form method=post>
      <input type=hidden name="action" value="change_displayname" />
    <dl class="row">
      <dt class="col-12 col-md-3">Name:
      <dd class="col-12 col-md-9"><input type="text" name="new_displayname" placeholder="{% if session_user.displayname %}{{session_user.displayname}}{% endif %}" value="{% if session_user.displayname %}{{session_user.displayname}}{% endif %}">
    </dl>
    <p><input type=submit value="Apply">
  </form>

  <h3><i class="mdi mdi-account-key"></i> Change Password</h3>
  
  <form method=post>
      <input type=hidden name="action" value="change_password" />
    <dl class="row">
      <dt class="col-12 col-md-3">Current Password:
      <dd class="col-12 col-md-9"><input type=password name=curpassword>
    </dl>
    <dl class="row">
      <dt class="col-12 col-md-3">New Password:
      <dd class="col-12 col-md-9"><input type=password name=newpw1>
    </dl>
    <dl class="row">
      <dt class="col-12 col-md-3">Confirm New Password:
      <dd class="col-12 col-md-9"><input type=password name=newpw2>
    </dl>
    <p><input type=submit value="Change password">
  </form>
{% endblock %}
