{% extends "layout.html" %}
{% block body %}
  <h1>Settings</h1>

  <div class="row">
      <div class="col-12">
          <h3><i class="mdi mdi-account-edit"></i> Change Display Name</h3>
      </div>
  </div>

  <form method=post>
      <input type=hidden name="action" value="change_displayname" />
    <dl class="input-group">
      <dt class="col-12 col-md-3">Name:
      <dd class="col-12 col-md-9"><input type="text" name="new_displayname" placeholder="{% if session_user.displayname %}{{session_user.displayname}}{% endif %}" value="{% if session_user.displayname %}{{session_user.displayname}}{% endif %}" class="custom-input">
    </dl>
    <div class="row">
        <div class="col-12">
            <input type="submit" value="Apply" class="btn btn-primary">
        </div>
    </div>
  </form>

  <h3 style="margin-top:2em;"><i class="mdi mdi-account-key"></i> Change Password</h3>
  
  <div class="row">
      <div class="col-12" style="margin-bottom: 2em;">
          <strong>Note:</strong> Changing your password invalidates all pending invitations that have not been used yet.<br />
      </div>
  </div>
  
  <form method=post>
      <input type=hidden name="action" value="change_password" />
    <dl class="input-group">
      <dt class="col-12 col-md-3">Current Password:
      <dd class="col-12 col-md-9"><input type="password" name="curpassword" class="custom-input">
    </dl>
    <dl class="input-group">
      <dt class="col-12 col-md-3">New Password:
      <dd class="col-12 col-md-9"><input type="password" name="newpw1" class="custom-input">
    </dl>
    <dl class="input-group">
      <dt class="col-12 col-md-3">Confirm New Password:
      <dd class="col-12 col-md-9"><input type="password" name="newpw2" class="custom-input">
    </dl>
    <div class="row">
        <div class="col-12">
            <input type="submit" value="Change password" class="btn btn-primary">
        </div>
    </div>
  </form>
{% endblock %}
