{% macro sideitem(cssclass, target, title) -%}
<li class="nav-item">
    {% if request.url_rule.endpoint == target %}
    <a class="nav-link active" href="{{ url_for(target) }}">
    {% else %}
    <a class="nav-link" href="{{ url_for(target) }}">
    {% endif %}
    <i class="{{cssclass}}"></i>
    {{ title }}
    </a>
</li>
{%- endmacro %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar-menu">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {{ sideitem("fas fa-home", "index", "Overview") }}
            {{ sideitem("fas fa-cogs", "settings", "Settings") }}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Datasets</span>
            <a class="d-flex align-items-center text-muted" href="{{ url_for('new_dataset') }}">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            {{ sideitem("fas fa-database", "show_datasets", "Manage") }}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Annotate</span>
        </h6>
        <ul class="nav flex-column mb-2">
            {% for sbtask in tasks %}
            <li class="nav-item">
                <a class="nav-link nav-taskinfo{% if request.url_rule.endpoint == 'annotate' and task and task.id == sbtask.id %} active{% else %}{% if sbtask.progress >= 100.0 %} nav-taskinfo-completed{% endif %}{% endif %}" href="{{ url_for('annotate', dsid=sbtask.id) }}">
                    {{sbtask.name}} <span class="sidemeta">{{sbtask.annos}}/{{sbtask.size}}</span>
                </a>
                {{ render_progress(sbtask, addclass="sideprogress") }}
            </li>
            {% else %}
            <li class="nav-item"><i class="nav-link">all done</i></li>
            {% endfor %}
        </ul>
    </div>
</nav>
