
{% macro sideitem(cssclass, target, title) -%}
<li class="nav-item">
    {% if request.url_rule.endpoint == target %}
    <a class="nav-link active" href="{{ url_for(target) }}">
    {% else %}
    <a class="nav-link" href="{{ url_for(target) }}">
    {% endif %}
    {% if cssclass %}
    <i class="{{cssclass}}"></i>
    {% endif %}
    {{ title }}
    </a>
</li>
{%- endmacro %}
{% macro sideicon(cssclass, target, title) -%}
<li class="nav-item d-flex {% if target == "logout" %}d-sm-none{% endif %}">
    {% if request.url_rule.endpoint == target %}
    <a class="nav-link active" href="{{ url_for(target) }}" title="{{title}}">
    {% else %}
    <a class="nav-link" href="{{ url_for(target) }}" title="{{title}}">
    {% endif %}
    
    {% if cssclass %}
    <i class="{{cssclass}}"></i>
    {% endif %}
    </a>
</li>
{%- endmacro %}

<nav class="sidebar-compact d-flex bg-light col-sm-3 col-md-2 justify-content-center" id="sidebar-menu-compact">
    <ul class="nav d-flex">
        {{ sideicon("mdi mdi-home", "index", "Overview") }}
        {{ sideicon("mdi mdi-cog", "settings", "Settings") }}
        {{ sideicon("mdi mdi-server", "show_datasets", "Manage") }}
        {{ sideicon("mdi mdi-login", "logout", "Logout") }}
    </ul>
</nav>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar-menu">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {{ sideitem("mdi mdi-home", "index", "Overview") }}
            {{ sideitem("mdi mdi-cog", "settings", "Settings") }}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Datasets</span>
            <a class="d-flex align-items-center text-muted" href="{{ url_for('dataset_admin') }}">
                <i class="mdi mdi-plus-circle-outline"></i>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            {{ sideitem("mdi mdi-server", "show_datasets", "Manage") }}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Annotate</span>
        </h6>
        <ul class="nav flex-column mb-2">
            {% for sbtask in tasks %}
            {% set is_active_task = request.url_rule.endpoint == 'annotate' and task and task.id == sbtask.id %}
            {% if is_active_task or sbtask.can_annotate %}
                <li class="nav-item{% if is_active_task %} nav-active-task{% endif %}">
                    <a class="nav-link nav-taskinfo{% if is_active_task %} active{% else %}{% if sbtask.progress >= 100.0 %} nav-taskinfo-completed{% endif %}{% endif %}" href="{{ url_for('annotate', dsid=sbtask.id) }}">
                        {{sbtask.name}} {% if not is_active_task %}<span class="sidemeta">{{sbtask.annos}}/{{sbtask.size}}</span>{% endif %}
                    </a>
                    {% if is_active_task %}
                    
                        <p class="navbar-text nav-active-task-data d-none d-md-block row">
                        <strong>Annotations:</strong>
                        <span>{{ task.annos }} / {{ task.size }}</span>
                        </p>
                        {% if task.annos_today %}
                        <p class="navbar-text nav-active-task-data d-none d-md-block row">
                        <strong>Today:</strong>
                        <span>{{ task.annos_today }}</span>
                        </p>
                        {% endif %}
                        {{ macros.render_progress(sbtask, addclass="sideprogress-active") }}
                    {% else %}
                        {{ macros.render_progress(sbtask, addclass="sideprogress") }}
                    {% endif %}
                </li>
                {% endif %}
            {% else %}
            <li class="nav-item"><i class="nav-link">all done</i></li>
            {% endfor %}
        </ul>
    </div>
</nav>
