{% set available_colors = ["red", "green", "blue", "yellow", "gray"] %}
{% set available_icons = ["fa fa-user", "fas fa-check", "far fa-check-square", "fas fa-square", "far fa-square", "fas fa-times"] %}

<div id="tag_editor" class="row form-group">
    <div class="col-12 col-md-3">
        <div class="{% if dataset.get_taglist()|length == 0 %}ds_new_field_error alert alert-warning{% endif %}">Define a tag list

            <div class="ajax-loading" style="display: none;">
                <img src="{{ url_for("static", filename="img/loading.gif") }}" alt="updating" />
            </div>

        </div>
    </div>
    <div class="col-12 col-md-9">
        <ul class="list-group">
            {% for tag, tagmetadata in dataset.get_taglist(include_metadata=True).items() %}
            <li class="list-group-item">
                <div class="tageditor_entry input-group" data-tag="{{ tag }}" data-position="{{ loop.index }}" data-tagcount="{{ dataset.get_taglist()|length }}">
                    <div class="input-group-prepend">
                        <div class="dropdown">
                            <a class="btn btn-outline-primary dropdown-toggle" role="button" data-tag="{{ tag }}" data-toggle="dropdown">
                                <i class="{% if tagmetadata.icon %}{{ tagmetadata.icon }}{% else %}far fa-circle{% endif %}"> </i>
                            </a>

                            <div class="dropdown-menu">
                                <button class="dropdown-item tageditor_action" data-action="change_tag_icon" data-value="-" data-tag="{{ tag }}">No icon</button>
                                {% for cur_icon in available_icons %}
                                <button class="dropdown-item tageditor_action" data-tag="{{ tag }}" data-action="change_tag_icon" data-value="{{ cur_icon }}">
                                    <i class="{{ cur_icon }}"> </i>
                                </button>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="btn btn-outline-primary dropdown-toggle{% if tagmetadata and tagmetadata.color %} tagcolor_{{ tagmetadata.color }}{% endif %}" role="button" data-tag="{{ tag }}" data-toggle="dropdown">
                                <i class="fas fa-palette"> </i>
                            </a>

                            <div class="dropdown-menu">
                                <button class="dropdown-item tageditor_action" data-action="change_tag_color" data-value="-" data-tag="{{ tag }}">No color</button>
                                {% for cur_color in available_colors %}
                                <button class="dropdown-item tageditor_action tagcolor_{{ cur_color }}" data-tag="{{ tag }}" data-action="change_tag_color" data-value="{{cur_color}}">
                                    {{ cur_color }}
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input autocomplete="off" name="tageditor_rename_tag" placeholder="rename tag {{ tag }}" type="text" class="form-control tageditor_taginput" value="{{ tag }}"> 
                    <div class="input-group-append">
                        <div class="btn-group">
                            <button data-action="rename_tag" data-tag="{{ tag }}" class="tageditor_action tageditor_action_rename btn btn-outline-primary input-group-text" disabled>
                                <i class="fas fa-pen"></i>
                            </button> 
                        <button data-action="move_tag_down" data-tag="{{ tag }}" class="tageditor_action btn btn-outline-primary input-group-text"{% if loop.index == dataset.get_taglist()|length %} disabled{% endif %}>
                            <i class="fas fa-arrow-down"></i>
                        </button> 
                        <button data-action="move_tag_up" data-tag="{{ tag }}" class="tageditor_action btn btn-outline-primary input-group-text"{% if loop.index == 1 %} disabled{% endif %}>
                            <i class="fas fa-arrow-up"></i>
                        </button> 
                        <button data-action="delete_tag" data-tag="{{ tag }}" class="tageditor_action btn btn-outline-primary input-group-text">
                            <i class="fas fa-trash-alt"></i>
                        </button> 
                        </div>
                    </div> 
                </div> 
            </li>
            {% endfor %}
            <li class="list-group-item">
            
                <div class="input-group">
                    <input autocomplete="off" id="tageditor_add_tag" name="tageditor_add_tag" placeholder="add new tag" type="text" class="form-control" value=""> 
                    <div class="input-group-append">
                        <div class="btn-group">
                        <button class="btn btn-outline-primary input-group-text" id="tageditor_add_tag_action" disabled>
                            <i class="fa fa-plus"></i>
                        </button>
                        </div>
                    </div>
                </div>
            
            </li>
        </ul>
    </div>
</div>

